<div class="game-container">
	<div class="game-title">Memory Game</div>

	<div *ngIf="busy" class="loading">
		LOADING
	</div>

	<div *ngIf="!busy" class="game-body">
		<div class="buttons">
			<button (click)="startGame()" class="btn btn-light mx-auto" *ngIf="!gameStart">
				Start Game
				<i class="fas fa-brain ms-1"></i>
			</button>
			<button (click)="endGame()" class="btn btn-light me-auto" *ngIf="gameStart">
				Exit
				<i class="fas fa-times ms-1"></i>
			</button>
			<button (click)="nextLevel()" class="btn btn-light" *ngIf="showNextLevel">
				Next Level
				<i class="fas fa-rocket ms-1"></i>
			</button>
		</div>

		<div *ngIf="gameStart" class="card-container" [class.inactive]="flippingCards">
			<div *ngFor="let card of cards" (click)="selectCard(card)" class="memory-card"
				[class.selected]="card.selected" [class.complete]="card.complete">
				<div class="memory-card-inner">
					<div class="card memory-card-front">
						<i class="fas fa-eye"></i>
					</div>
					<div class="card memory-card-back">
						<i [class]="card.imageIndex"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>